/* blue colot : #48bfe3      */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.App {
  margin: 0;
  text-align: center;
  display: block;
  height: 100vh;
  width: auto;
  color: white;
  background-color: #20b422;
}

.password-generator {
  margin-top: 70px;
}

.password-output {
  width: 80%;
  height: 100px;
  font-size: 40px;
  text-align: left;
  border-bottom: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}

.password-output-span {
  color: white;
}

.generate-button {
  background: url("https://d38muu3h4xeqr1.cloudfront.net/website/static/DL-5655/images/icons/icon-passwordgenerator-large-white.svg")
    no-repeat;
  text-indent: -9999px;

  overflow: hidden;
  align-self: center;
  min-width: 60px;
  min-height: 60px;
  float: right;
  margin-top: 10px;
  border: none;
}

.generate-button:active {
  border-style: outset;
  border: none;
}

.copy-button {
  background-color: transparent;
  overflow: hidden;
  align-self: center;
  min-width: 60px;
  min-height: 60px;
  float: right;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  margin-right: 2vw;
  border: 1px solid white;
}

.copy-button:active {
  border-style: outset;
  background-color: white;
  color: #20b422;
  border: none;
}

.password-strength {
  font-size: 24px;
  text-align: left;
  margin-top: 2vh;
  margin-left: 10vw;
  opacity: 0.6;
}

.toggle-div {
  margin-top: 10vh;
}

.footer {
  margin-top: 15vh;
}

.footer-link {
  text-decoration: none;

  color: white;
}

.footer-link:hover {
  background-color: white;
  color: #20b422;
}

.heart:hover {
  color: red;
}
