/* blue colot : #48bfe3      */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.App {
  margin: 0;
  text-align: center;
  display: block;
  height: 200vh;
  width: auto;
  color: white;
  background-color: #20b422;
}

.password-generator {
  margin-top: 70px;
}

.password-output {
  width: 80%;
  height: 100px;
  font-size: 40px;
  text-align: left;
  border-bottom: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}

.password-output-span {
  color: white;
}

.generate-button {
  background: url("https://d38muu3h4xeqr1.cloudfront.net/website/static/DL-5655/images/icons/icon-passwordgenerator-large-white.svg")
    no-repeat;
  text-indent: -9999px;

  overflow: hidden;
  align-self: center;
  min-width: 60px;
  min-height: 60px;
  float: right;
  margin-top: 10px;
  border: none;
}

.generate-button:active {
  border-style: outset;
  border: none;
}
.length-slider1 {
  -webkit-appearance: none;
  width: 100%;
  margin: 24px 0;
  border-radius: 4px;
  outline: 0;
  /* background-color: transparent; */
}

.length-slider:track {
  background-color: white;
}
.length-slider:active {
  background-color: "red";
}
.length-slider:thumb {
  width: 50;
  height: 50;
}
